@CHARSET "UTF-8";

body {
	background-color: Snow;
}

.superior {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	width: 100%;
	background-color: transparent;
	height: 100px;
}

/*
.superior hr {
	color: black;
	border-width: 0;
	height: 2px;
	width: 100%;
	background-color: black;
	float: left;
}
*/
.slogan {
	border-style: none;
	height: 90%;
	width: 50%;
	background-color: transparent;
	float: left;
}

.slogan h1 {
	margin-top: 0px;
	background-color: transparent;
}

.user {
	float: right;
}

.menu {
	width: 100%;
	float: left;
}

.menu table {
	margin-left: 50px;
}

.central {
	border-top-style: solid;
	border-top-width: 1px;
	min-height: 500px;
	width: 100%;
	background-color: transparent;
	float: left;
}

.centralSuperior {
	margin-left: 30px;
	width: 1250px;
	float: left;
}

.divCentralTitulo {
	font-size: 20pt;
	width: 350px;
	float: left;
}

.inferior {
	text-align: center;
	border-style: none;
	width: 100%;
	background-color: transparent;
}

.inferior a:VISITED,a:HOVER,a:ACTIVE {
	color: blue;
}

/***********************************/
/***** estilos para index.jsp ******/
/***********************************/
.index_table ul {
	display: inline;
	padding: 0;
	background-color: transparent;
}

.index_table ul li {
	display: inline;
	list-style-type: none;
}

/************************************/
/** estilos para page_recovery.jsp **/
/************************************/
.recovery_table {
	width: 500px;
	float: left;
	margin-left: 70px;
	margin-top: 40px;
	font-size: 25px;
}

.recovery_table .txtEmail {
	width: 50%;
}

.recovery_table .esquecSenha {
	vertical-align: top;
	font-size: 30px;
	height: 80px;
	background-color: transparent;
}

.recovery_table .btnLembrar {
	width: 180px;
	float: right;
}

/****************************************/
/** estilos para page_criarUsuario.jsp **/
/****************************************/
.criarUsuario_table {
	width: 500px;
	float: left;
	margin-left: 70px;
	margin-top: 40px;
	font-size: 25px;
}

.criarUsuario_table .txtEmail,.txtSenha,.txtRepetirSenha {
	width: 50%;
}

.criarUsuario_table .btnCriarUsuario {
	height: 80px;
	background-color: transparent;
}

.criarUsuario_table .btnCriarUsuario input {
	float: right;
	width: 140px;
}

.criarUsuario_table .criarUsuario_linha {
	width: 300px;
	background-color: transparent;
}

.criarUsuario_table .criarUsuario_linha hr {
	color: black;
	border-width: 0;
	height: 2px;
	width: 100%;
	background-color: black;
}

.criarUsuario_table .btnLembrar input {
	width: 60px;
}

/*************************************************/
/*** estilos para page_usuarioAutenticado.jsp ****/
/*************************************************/
.superior .user .nome {
	
}

/**************************************************/
/*** estilos para page_usuarioCompartilhar.jsp ****/
/**************************************************/
.centralGrid {
	clear: both;
}

.centralGrid table {
	margin-left: 30px;
	width: 1250px;
	max-width: 1250px;
	border-color: black;
	border: thick;
}

.btnCompartilhar table .tr_nameColmns {
	background-color: Gainsboro;
}

.btnCompartilhar table .tr_impar {
	background-color: LightSteelBlue;
}

.btnCompartilhar table .tr_par {
	background-color: WhiteSmoke;
}

.btnCompartilhar table .td_selecao {
	width: 30px;
	text-align: center;
}

.btnCompartilhar table .td_nome {
	width: 900px;
}

.btnCompartilhar table .td_data {
	width: 160px;
	text-align: center;
}

.btnCompartilhar table .td_compartilhado {
	width: 160px;
	text-align: center;
}

.divCentralBtns {
	width: 900px;
	float: right;
}

.divCentralBtns input {
	font-size: 12pt;
}

.central .centralSuperior .divCentralTitDoc {
	float: left;
}

.btnCompartilhar {
	float: left;
	padding-top: 3px;
	width: 100%;
}

.btnCompartilhar .btnCompart {
	margin-top: 3px;
}

.btnCompartilhar .listaDocs {
	float: left;
}

.tblBtns {
	float: right;
}

/****************************************************/
/*** estilos para o page_visualizarDocumento.jsp ****/
/****************************************************/
.visual {
	float: left;
	background-color: white;
	width: 230mm;
	min-width: 230mm;
	max-width: 230mm;
	margin-left: 50mm;
}

.visual .capa {
	border-style: solid;
	border-width: 1px;
	max-width: 210mm;
	max-height: 297mm;
	min-width: 210mm;
	min-height: 297mm;
	margin-left: 10mm;
	font-family: serif;
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
	width: 210mm;
	height: 297mm;
}

.visual .capa .instituicao {
	margin-top: 30mm;
}

.visual .capa .titulo {
	margin-top: 30%;
}

.visual .capa .autor {;
	margin-top: 25%;
}

.visual .capa .localdata {
	margin-top: 50%;
}
/************************************************/
/*** estilos para o page_editarDocumento.jsp ****/
/************************************************/
.centralIntermediaria {
	float: left;
	/* 	border-style: solid; */
	width: 100%;
}

.centralIntermediaria .centralIntermediaria_left {
	float: left;
	width: 20%;
	/* 	border-style: solid; */
}

.centralIntermediaria .centralIntermediaria_right {
	float: left;
	/* 	border-style: solid; */
}

.centralIntermediaria .centralIntermediaria_right textarea {
	min-width: 150mm;
	min-height: 50mm;
	max-width: 150mm;
	max-height: 50mm;
}

.centralIntermediaria .centralIntermediaria_left ul {
	list-style: none;
}

.centralIntermediaria .centralIntermediaria_left a {
	display: block;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-top-style: solid;
	border-top-width: 2px;
	border-left-style: solid;
	border-left-width: 2px;
}

.centralInferior {
	float: left;
	/* 	border-style: solid; */
}

/*************************************************/
/*** estilos para o page_excluirDocumento.jsp ****/
/*************************************************/


/***********************************************/
/*** estilos para o page_criarDocumento.jsp ****/
/***********************************************/


/*********************************************/
/*** estilos para o page_alterarSenha.jsp ****/
/*********************************************/

