@CHARSET "UTF-8";

body {
	background-color: Snow;
	padding-left: 50px;
	padding-right: 50px;
}

.entradas,.latEsquerdo,.latDireito {
	float: left;
}

.entradas,.latEsquerdo,.latDireito {
	border-style: none;
}

.entradas {
	width: 60%;
}

.latEsquerdo,.latDireito {
	width: 15%;
	height: 640px;
}

.entradas table{
	width: 100%;
}

.inputTxtResumo {
	width: 650px;
}

.inputTxtResumo textarea{
	max-width: 99%;
	min-width: 99%;
}