@CHARSET "UTF-8";

body {
	background-color: Moccasin;
	padding-right: 8px;
}

.cabecalho {
	height: 100px;
	width: 100%;
	float: left;
}

.slogan {
	float: left;
	width: 70%;
}

h1,h2,h3,ul {
	color: maroon;
}

.usuario {
	float: left;
	text-align: right;
	width: 30%;
}

.usuario h2 {
	text-align: right;
	width: 100%;
}

.linha {
	float: left;
	height: 5px;
	width: 100%;
}

.barraDeMenu {
	background-color: Peru;
	float: left;
	text-align: center;
	width: 99.3%;
	height: 25px;
	padding-bottom: 20px;
}

ul {
	list-style-type: none;
}

.barraDeMenu ul li {
	display: inline;
}

.menuEsquerdo,.menuDireito,.recomendacao,.barraDeMenu {
	border-style: solid;
	border-color: transparent;
}

.menuEsquerdo {
	width: 15%;
	float: left;
}

.menuDireito {
	width: 0%;
	float: left;
}

.recomendacao {
	float: left;
	height: 400px;
	width: 84%;
}

.recomendacao .msgRecomendacao {
	float: left;
	width: 40%;
}

.recomendacao img {
	float: rigth;
	width: 60%;
	height: 100%;
}